@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Dancing+Script&family=Indie+Flower&family=Merriweather:ital@1&family=Sansita+Swashed&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    background: rgb(135, 160, 203);
    background: linear-gradient(94deg, rgba(135, 160, 203, 1) 73%, rgba(95, 90, 208, 1) 100%);
    font-family: 'Sansita Swashed', cursive;
    min-height: 100vh;
}

/* --------- BARRA DE NAVEGACION -----------*/
#logoNav {
    text-align: center !important;
    margin: 10px 0 0 5px !important;
}

nav a {
    text-decoration: none;
    color: white;
}

.navbar {
    padding: .5rem 1rem;
}

.nav-item {
    margin-right: 15px;
}

nav:hover {
    background-color: rgb(15, 15, 15);
    opacity: 0.95;
    transition-duration: 0.2s;
    transition-property: opacity;
}

/* SECTION-COLUMNA IZQUIERDA: NOMBRE Y ESTUDIOS */

section {
    width: 40%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.name {
    text-align: center;
    font-size: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ingenieria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mecatronica {
    width: 50px;
}

.ingenieria,
.web {
    font-size: 1.563rem;
    text-align: center;
    margin: 15px;
}

/*----------- COLUMNA DERECHA -------- */

aside {
    width: 60%;
    height: 85vh;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 35px;
}

.estudios {
    margin: 10px;
    text-align: center;
    width: 200px;
    font-size: 1.2rem;
    /* margin-top: 25px; */
}

.img_estudios {
    width: 100px;
    margin-bottom: 10px;
}

.img_estudios:hover {
    transform: scale(2);
    transition: 2s;
}

/* ------- CARRUSEL DE IMAGENES ------ */

/* .caru{
    margin-bottom: 50px;
}

.img-caru{
    height: 150px;
    transition: all 0.5s ease;
}

.img-caru:hover{
    transform: scale(0.9);
}

p{
    text-align: center;
}

.espacio{
    margin: 20px;
} */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

p {
    text-align: center;
}


/* ----- FOOTER --------- */

main:after {
    content: '';
    display: block;
    clear: both;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #181a32 !important;
    color: white;
    text-align: center;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
}

footer a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    margin: 20px;
    padding: 5px;
    border-radius: 50px;
    transition: all .4s;
    color: white;
}

.linkedin:hover {
    box-shadow: 0 10px #1877f2;
}

.linkedin {
    color: #1877f2;
    filter: drop-shadow(10px 10px 10px #1877f2);
}

.instagram:hover {
    box-shadow: 0 10px #c32aa3;
}

.instagram {
    color: #c32aa3;
    filter: drop-shadow(10px 10px 10px #c32aa3);
}

.github {
    color: white;
    filter: drop-shadow(10px 10px 10px white);
}

.github:hover {
    box-shadow: 0 10px white;
}

.copyright {
    margin: 15px 0;
}

/* colores para redes sociales:
facebook: #1877f2
whatsapp: # 25d366
twitter: # 1877f2
*/

/* ----- RESPONSIVE DESIGN -------*/

@media screen and (max-width: 768px) {
    .estudios {
        /* margin: 10px; */
        text-align: center;
        width: 150px;
        font-size: 1rem;
    }

    aside {
        margin-top: 15px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 590px) {
    /* html{
        min-height: 100%;
        position:relative;
    }

    body{
        margin: 0;
        margin-bottom: 40px;
    } */

    main {
        min-height: calc(100vh- 10vh- 10vh);
    }

    section {
        width: 100%;
        /* height: 85vh;  */
        height: 100vh;
        float: none;
    }

    .name {
        text-align: center;
        font-size: 3.3rem;
    }

    .ingenieria,
    .web {
        font-size: 1.5rem;
        text-align: center;
        margin: 10px;
    }

    aside {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        flex-wrap: nowrap;
        float: none;
        margin-bottom: 20px;
    }

    .estudios {
        margin: 10px;
        text-align: center;
        width: 90%;
        font-size: 1.1rem;
        justify-content: center;
        align-items: center;
    }

    #unacar {
        height: 150px;
    }

    /* carrusel */

    /* .img-caru {
        height: 100px;
        margin-right: 10px;
    } */

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    footer {
        /* position: absolute;
        bottom: 0; */
        height: 20vh;
    }
}